<div ng-controller="MaterialsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Справочник материалов</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование материала</th>
        <th>Ед. измерения</th>
      </tr>
    </thead>
    <tbody ng-repeat="material in ctrl.data">
      <tr>
        <td><span ng-bind="material.name" editable-text="material.name" class="pointer" onaftersave="ctrl.save(material)"></span></td>
        <td><span ng-bind="material.metric" editable-text="material.metric" onaftersave="ctrl.save(material)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(material)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
