<div ng-controller="ShowEventsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text"></h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Наименование работы</th>
        <th>Предыдущая работа</th>
        <th>Продолжительность</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="row in ctrl.data">
      <tr>
        <td><span ng-bind="row.work.worktype.name"></span></td>
        <td><span ng-bind="row.prev_work.worktype.name||'Нет предыдущей работы'" editable-select="row.prev_work_id" e-ng-options="w.id as w.worktype.name for w in ctrl.works" onaftersave="ctrl.save(row)"></span></td>
        <td><span ng-bind="row.duration" class="pointer" editable-number="row.duration" e-min="0" onaftersave="ctrl.save(row)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(row)"></span></td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div> -->
</div>
