<div ng-controller="ContractorsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Справочник подрядчиков</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование подрядчика</th>
      </tr>
    </thead>
    <tbody ng-repeat="contractor in ctrl.data">
      <tr>
        <td><span ng-bind="contractor.name" editable-text="contractor.name" class="pointer" onaftersave="ctrl.save(contractor)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(contractor)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
