<div ng-controller="TeamsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Команды</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование команды</th>
      </tr>
    </thead>
    <tbody ng-repeat="team in ctrl.data">
      <tr>
        <td><span ng-bind="team.name" editable-text="team.name" class="pointer" onaftersave="ctrl.save(team)"></span></td>
        <td><span class="glyphicon glyphicon-pencil" ng-click="ctrl.editKit(team)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(team)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить команду" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
