<div class="modal-header">
  <h3 class="modal-title">Добавление набора машин</h3>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Наименование  набора машин" ng-model="ctrl.data.name">
      </div>
      <button class="md-raised md-button md-ink-ripple" ng-click="ctrl.cancel()">Отмена</button>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.add()">Добавить</button>
    </form>  
  </div>
</div>