<div class="modal-header">
  <h3 class="modal-title" ng-bind="ctrl.machinekit.name"></h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th>Машина</th>
        <th>Количество</th>
        <th></th>
      </tr>
      <tr ng-repeat="machine in ctrl.data">
        <td><span ng-bind="ctrl.showName(machine.machine_id)" editable-select="machine.machine_id" e-ng-options="m.id as m.name for m in ctrl.machines" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(machine)"></span></td>
        <td><span ng-bind="machine.count" editable-number="machine.count" e-min="0" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(machine)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(machine)"></span></td>
      </tr>
    </table>
    <div style="margin-top: 75px"></div>
    <div class="float-btn">
      <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить машину" ng-click="ctrl.add()">
        <md-icon>add</md-icon>
        <div class="md-ripple-container"></div>
      </md-button>
    </div>

  </div>
</div>