<div ng-controller="ShowTimetableCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Календарный график</h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <td rowspan="2">Наименование работы</td>
        <td rowspan="2">Исполнитель</td>
        <td colspan="2">Объем работ</td>
        <td rowspan="2">Затраты труда чел/дн</td>
        <td colspan="3">Машины</td>
        <td rowspan="2">Продолжительность</td>
        <td rowspan="2">Число смен</td>
        <td rowspan="2">Число рабочих</td>
        <td rowspan="2">Состав бригады</td>
        <td rowspan="2">Дата начала</td>
        <td rowspan="2">Дата окончания</td>
      </tr>
      <tr>
        <td>Ед. изм</td>
        <td>Кол-во</td>
        <td>Наименование</td>
        <td>Маш/см</td>
        <td>Кол-во</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="work in ctrl.works | orderBy: 'start_date'">
        <td><span ng-bind="work.name"></span></td>
        <td><span ng-bind="work.contractor"></span></td>
        <td><span ng-bind="work.metric"></span></td>
        <td><span ng-bind="work.volume"></span></td>
        <td><span ng-bind="work.man_days"></span></td>
        <td>
          <ul ng-repeat="machine in work.machines">
            <li><span ng-bind="machine.name"></span></li>
          </ul>
        </td>
        <td>
          <span ng-bind="work.labor_expenses"></span>
        </td>
        <td>
          <ul ng-repeat="machine in work.machines">
            <li><span ng-bind="machine.count"></span></li>
          </ul>
        </td>
        <td><span ng-bind="work.duration"></span></td>
        <td>2</td>
        <td><span ng-bind="ctrl.get_count(work.professions)"></span></td>
        <td>
          <ul ng-repeat="profession in work.professions">
            <li><span ng-bind="profession.name"></span> - <span ng-bind="profession.count"></span></li>
          </ul>
        </td>
        <td><span ng-bind="work.start_date"></span></td>
        <td><span ng-bind="work.start_date + work.duration - 1"></span></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Калькуляция трудозатрат</th>
        <th>Ведомость объемов работ</th>
        <th>Карточка-определитель сетевого графика</th>
        <th>Калькуляция затрат МТР</th>
        <th>Ведомость выполненных работ</th>
        <th>Ведомость потребности в машинах и механизмах</th>
        <th>Ведомость потрености в трудовых ресурсах</th>
        <th>Ведомость потребности в материалах</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Калькуляция трудозатрат" ng-click="ctrl.go_to('workcalculation')">
            <md-icon>description</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Ведомость объемов работ" ng-click="ctrl.go_to('worksheet')">
            <md-icon>receipt</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Карточка-определитель сетевого графика" ng-click="ctrl.go_to('event')">
            <md-icon>assignment</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Калькуляция затрат МТР" ng-click="ctrl.go_to('materialcalculation')">
            <md-icon>subject</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Ведомость выполненных работ" ng-click="ctrl.go_to('success_work')">
            <md-icon>subject</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Ведомость потребности в машинах и механизмах" ng-click="ctrl.go_to('machinesheet')">
            <md-icon>assessment</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Ведомость потрености в трудовых ресурсах" ng-click="ctrl.go_to('professionsheet')">
            <md-icon>assessment</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
        <td>
          <md-button class="md-fab md-primary" ng-transclude aria-label="Ведомость потребности в материалах" ng-click="ctrl.go_to('materialsheet')">
            <md-icon>assessment</md-icon>
            <div class="md-ripple-container"></div>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
