<div ng-controller="TimetablesCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Календарные графики</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Название графика</th>
        <th>Объект</th>
      </tr>
    </thead>
    <tbody ng-repeat="elem in ctrl.data">
      <tr>
        <td><span ng-bind="elem.name" editable-text="elem.name" class="pointer" onaftersave="ctrl.save(elem)"></span></td>
        <td><span ng-bind="ctrl.show_name(elem.building_id)" editable-select="elem.building_id" e-ng-options="b.id as b.name for b in ctrl.buildings" onaftersave="ctrl.save(elem)"></span></td>
        <td><span class="glyphicon glyphicon-link pointer" ng-click="ctrl.go_to(elem.id)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(elem)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить график" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
