<div ng-controller="ShowWorksheetsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text" ng-bind="ctrl.worksheet.name"></h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="2">Наименование работы</th>
        <th colspan="2">Объем работ</th>
        <th rowspan="2">Стоимость</th>
        <th rowspan="2">Исполнитель</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th>Ед. изм.</th>
        <th>Кол-во</th>
      </tr>
    </thead>
    <tbody ng-repeat="row in ctrl.data">
      <tr>
        <td><span ng-bind="row.worktype.name"></span></td>
        <td><span ng-bind="row.worktype.metric"></span></td>
        <td><span ng-bind="row.volume" class="pointer" editable-number="row.volume" e-step="any" e-min="0" onaftersave="ctrl.save(row)"></span></td>
        <td><span ng-bind="row.cost" class="pointer" editable-number="row.cost" e-step="any" e-min="0" onaftersave="ctrl.save(row)"></span></td>
        <td><span ng-bind="row.contractor.name" editable-select="row.contractor_id" e-ng-options="c.id as c.name for c in ctrl.contractors" onaftersave="ctrl.save(row)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(row)"></span></td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div> -->
</div>
