<div ng-controller="ShowSuccessWorkCtrl as ctrl">
   <div class="page-header">
    <h1 class="center-text" ng-bind="ctrl.worksheet.name"></h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Наименование работы</th>
        <th>Ед. изм.</th>
        <th>Выполненный объем</th>
      </tr>
    </thead>
    <tbody ng-repeat="row in ctrl.data">
      <tr>
        <td><span ng-bind="row.worktype.name"></span></td>
        <td><span ng-bind="row.worktype.metric"></span></td>
        <td><span ng-bind="row.success||'0'" class="pointer" editable-number="row.success" e-step="any" e-min="0" onaftersave="ctrl.save(row)"></span></td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div> -->
</div>