<div ng-controller="MachinesCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Справочник машин и механизмов</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование машины</th>
        <th>Производительность</th>
      </tr>
    </thead>
    <tbody ng-repeat="machine in ctrl.data">
      <tr>
        <td><span ng-bind="machine.name" editable-text="machine.name" class="pointer" onaftersave="ctrl.save(machine)"></span></td>
        <td><span ng-bind="machine.perfomance" editable-number="machine.perfomance" e-step="any" e-min="0" onaftersave="ctrl.save(machine)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(machine)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить машину" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
