<div ng-controller="MainCtrl">
  <!-- <div layout="column">
    <md-toolbar layout="row">
      <h1>Angular Material Starter App</h1>
    </md-toolbar>
    <div flex layout="row">

      <md-slidenav md-is-locked-open="true" class="md-whiteframe-z2">

        <md-list>
          <md-list-item>
            <md-button>
              <md-icon md-svg-src="./images/avatar-1.svg" class="avatar"></md-icon>
              Linus Torvalds
            </md-button>
          </md-list-item>
        </md-list>

        <md-list>
          <md-list-item>
            <md-button>
              <md-icon md-svg-src="./images/avatar-4.svg" class="avatar"></md-icon>
              Bill Gates
            </md-button>
          </md-list-item>
        </md-list>

      </md-slidenav>

      <md-content flex id="content">
        <md-icon md-svg-src="./images/avatar-1.svg" class="avatar"></md-icon>
        <h2>Linus Torvalds</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eligendi voluptate unde ducimus explicabo sequi, assumenda dolorum et, expedita saepe cumque modi iure repellat dolores minus perferendis voluptatibus, officia tenetur.
        </p>
      </md-content>

    </div>
  </div> -->
  <h1 class="center-text">Hello!</h1>
</div>