<div ng-controller="MachinekitsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Наборы машин</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование набора</th>
      </tr>
    </thead>
    <tbody ng-repeat="machinekit in ctrl.data">
      <tr>
        <td><span ng-bind="machinekit.name" editable-text="machinekit.name" class="pointer" onaftersave="ctrl.save(machinekit)"></span></td>
        <td><span class="glyphicon glyphicon-pencil" ng-click="ctrl.editKit(machinekit)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(machinekit)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить набор" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
