<div ng-controller="BuildingsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Справочник зданий</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование объекта</th>
        <th>Полная стоимость</th>
        <th>Стоимость СМР</th>
        <th>Дата начала строительства</th>
      </tr>
    </thead>
    <tbody ng-repeat="building in ctrl.data">
      <tr>
        <td><span ng-bind="building.name" editable-text="building.name" class="pointer" onaftersave="ctrl.save(building)"></span></td>
        <td><span ng-bind="building.full_cost" editable-number="building.full_cost" e-step="any" e-min="0" onaftersave="ctrl.save(building)"></span></td>
        <td><span ng-bind="building.smr_cost" editable-number="building.smr_cost" e-step="any" e-min="0" onaftersave="ctrl.save(building)"></span></td>
        <td><span ng-bind="building.start_date|date:'dd.MM.yyyy'" editable-date="building.start_date" onaftersave="ctrl.save(building)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(building)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить здание" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
