<div ng-controller="ShowMachinesheetsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Ведомость потребности в машинах и мехнизмах</h1>
  </div>
  
  <table class="table-bordered table">
    <thead>
      <tr>
        <th>Наименование машины</th>
        <th>Количество</th>
        <th>Дни потребности</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="machine in ctrl.cal_machines">
        <th ng-bind="machine.name"></th>
        <th>
          <ul ng-repeat="count in machine.counts track by $index">
            <li ng-bind="count"></li>
          </ul>
        </th>
        <th>
          <ul ng-repeat="date in machine.dates | orderBy: 'start_date'">
            <li>{{ date.start_date }} - {{ date.end_date }}</li>
          </ul>
        </th>
      </tr>
    </tbody>
    
  </table>
  
</div>
