<div class="modal-header">
  <h3 class="modal-title">Добавление здания</h3>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Наименование объекта" ng-model="ctrl.data.name">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" min="0" placeholder="Полная стоимость" ng-model="ctrl.data.full_cost">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" min="0" placeholder="Стоимость СМР" ng-model="ctrl.data.smr_cost">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Дата начала строительства" ng-model="ctrl.data.tart_date">
      </div>
      <button class="md-raised md-button md-ink-ripple" ng-click="ctrl.cancel()">Отмена</button>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.add()">Добавить</button>
    </form>  
  </div>
</div>