<div ng-controller="PeriodsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Программа работ</h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Объект</th>
        <th>Дата начала строительства</th>
        <th>Дата окончания строительства</th>
        <th>Ожидаемый объем выполнения</th>
        <th>Ед. изм.</th>
        <th>Мощность</th>
        <th>Стоимость мощности</th>
        <th>Дата воода в эксплуатацию</th>
        <th>Полный объем</th>
        <th>Субподрядный объем</th>
        <th></th>
      </tr>
      <tr ng-repeat="period in ctrl.periods">
        <td><span ng-bind="ctrl.showBuildingName(period.building_id)" editable-select="period.building_id" e-ng-options="b.id as b.name for b in ctrl.buildings" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.start_date|date: 'dd.MM.yyyy'" editable-date="period.start_date" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.end_date|date: 'dd.MM.yyyy'" editable-date="period.end_date" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.wait_total" editable-number="period.wait_total" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.metric" editable-text="period.metric" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.power" editable-number="period.power" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.power_cost" editable-number="period.power_cost" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.input_date|date: 'dd.MM.yyyy'" editable-date="period.input_date" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.own_total" editable-number="period.own_total" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span ng-bind="period.sub_total" editable-number="period.sub_total" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(period)"></span></td>
        <td><span class="glyphicon glyphicon-remove" ng-click="ctrl.destroy(period)"></span></td>
      </tr>
    </thead>
  </table>
  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить период" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>