<div ng-controller="ShowWorkcalculationsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text" ng-bind="ctrl.workcalculation.name"></h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="2">Наименование работы</th>
        <th rowspan="2">Ед. изм</th>
        <th rowspan="2">Обоснование по ЕНиР</th>
        <th colspan="2">Трудозатраты</th>
        <th colspan="2">Состав звена</th>
        <th colspan="3">Машины и механизмы</th>
        <th rowspan="2"></th>
      </tr>
      <tr>
        <th>Чел/дн</th>
        <th>Маш/см</th>
        <th>Профессия</th>
        <th>Кол-во</th>
        <th>Наименование</th>
        <th>Производительность</th>
        <th>Количество</th>
      </tr>
    </thead>
    <tbody ng-repeat="row in ctrl.data">
      <tr>
        <td><span ng-bind="row.worktype.name"></span></td>
        <td><span ng-bind="row.worktype.metric"></span></td>
        <td><span ng-bind="row.worktype.enir"></span></td>
        <td><span ng-bind="row.worktype.man_days"></span></td>
        <td><span ng-bind="row.worktype.labor_expenses"></span></td>
        <td>
          <ul ng-repeat="profession in row.professions">
            <li><span ng-bind="profession.name"></span></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="profession in row.professions">
            <li><span ng-bind="profession.count"></span></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="machine in row.machines">
            <li><span ng-bind="machine.name"></span></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="machine in row.machines">
            <li><span ng-bind="machine.perfomance"></span></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="machine in row.machines">
            <li><span ng-bind="machine.count"></span></li>
          </ul>
        </td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(row)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
