<div class="modal-header">
  <h3 class="modal-title" ng-bind="ctrl.materialkit.name"></h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th>Материал</th>
        <th>Норма расхода</th>
        <th>  </th>
      </tr>
      <tr ng-repeat="material in ctrl.data">
        <td><span ng-bind="ctrl.showName(material.material_id)" editable-select="material.material_id" e-ng-options="m.id as m.name for m in ctrl.materials" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(material)"></span></td>
        <td><span ng-bind="material.norm" editable-number="material.norm" e-step="any" e-min="0" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(material)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(material)"></span></td>
      </tr>
    </table>
    <div style="margin-top: 75px"></div>
    <div class="float-btn">
      <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить материал" ng-click="ctrl.add()">
        <md-icon>add</md-icon>
        <div class="md-ripple-container"></div>
      </md-button>
    </div>

  </div>
</div>