<div ng-controller="ShowMaterialcalculationsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text" ng-bind="ctrl.worksheet.name"></h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Наименование работы</th>
        <th>Ед. изм</th>
        <th>Материал</th>
        <th>Ед. изм. материала</th>
        <th>Норма расхода на ед. работы</th>
        <th>Ссылка на нормы</th>
      </tr>
    </thead>
    <tbody ng-repeat="row in ctrl.data">
      <tr>
        <td><span ng-bind="row.worktype.name"></span></td>
        <td><span ng-bind="row.worktype.metric"></span></td>
        <td>
          <ul ng-repeat="material in row.materials">
            <li><span ng-bind="material.name"></span></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="material in row.materials">
            <li><span ng-bind="material.metric"></span></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="material in row.materials">
            <li><span ng-bind="material.norm | number:2"></span></li>
          </ul>
        </td>
        <td><span ng-bind="row.worktype.enir"></span></td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div> -->
</div>
