<div ng-controller="ShowMaterialsheetsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Ведомость потребности в материалах</h1>
  </div>
  
  <table class="table-bordered table">
    <thead>
      <tr>
        <th>Наименование материала</th>
        <th>Количество</th>
        <th>Дни потребности</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="material in ctrl.cal_materials">
        <td ng-bind="material.name"></td>
        <td>
          <ul ng-repeat="date in material.dates | orderBy: 'start_date'">
            <li ng-bind="date.volume | number: 2"></li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="date in material.dates | orderBy: 'start_date'">
            <li>{{ date.start_date }} - {{ date.end_date }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
    
  </table>
  
</div>
