<div class="modal-header">
  <h3 class="modal-title">Добавление работы</h3>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        Работа: <select class="form-control" ng-model="ctrl.data.worktype_id" ng-options="wt.id as wt.name for wt in ctrl.worktypes"></select>
      </div>
      <div class="form-group">
        Машины: <select class="form-control" ng-model="ctrl.data.machinekit_id" ng-options="mk.id as mk.name for mk in ctrl.machinekits"></select>
      </div>
      <div class="form-group">
        Рабочие: <select class="form-control" ng-model="ctrl.data.team_id" ng-options="t.id as t.name for t in ctrl.teams"></select>
      </div>
      <div class="form-group">
        Материалы: <select class="form-control" ng-model="ctrl.data.materialkit_id" ng-options="m.id as m.name for m in ctrl.materialkits"></select>
      </div>
      <button class="md-raised md-button md-ink-ripple" ng-click="ctrl.cancel()">Отмена</button>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.add()">Добавить</button>
    </form>  
  </div>
</div>