<div ng-controller="WorktypesCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Справочник работ</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th rowspan="2">Наименование работы</th>
        <th rowspan="2">Ед. измерения</th>
        <th rowspan="2">Ссылка на ЕНиР</th>
        <th colspan="2">Трудозатраты</th>
      </tr>
      <tr>
        <th>Человеко-дней</th>
        <th>Машино-смен</th>
      </tr>
    </thead>
    <tbody ng-repeat="worktype in ctrl.data">
      <tr>
        <td><span ng-bind="worktype.name" editable-text="worktype.name" class="pointer" onaftersave="ctrl.save(worktype)"></span></td>
        <td><span ng-bind="worktype.metric" editable-text="worktype.metric" onaftersave="ctrl.save(worktype)"></span></td>
        <td><span ng-bind="worktype.enir" editable-text="worktype.enir" onaftersave="ctrl.save(worktype)"></span></td>
        <td><span ng-bind="worktype.man_days" editable-number="worktype.man_days" e-min="0" onaftersave="ctrl.save(worktype)"></span></td>
        <td><span ng-bind="worktype.labor_expenses" editable-number="worktype.labor_expenses" e-min="0" onaftersave="ctrl.save(worktype)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(worktype)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
