<md-sidenav md-component-id='menu' class="md-slednav-left">
  <md-toolbar>
    <h3 class="center-text">Меню</h3>
  </md-toolbar>
  <md-list>

    <!-- <md-list-item>
      <md-button ng-click="ctrl.go_to('home')">
        Основа
      </md-button>
    </md-list-item> -->

    <md-list-item>
      <md-button ng-click="ctrl.go_to('buildings')">
        Справочник объектов
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('worktypes')">
        Справочник работ
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('machines')">
        Справочник машин
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('materials')">
        Справочник материалов
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('professions')">
        Справочник профессий
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('contractors')">
        Справочник подрядчиков
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('machinekits')">
        Наборы машин
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('materialkits')">
        Наборы материалов
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-button ng-click="ctrl.go_to('teams')">
        Команды
      </md-button>
    </md-list-item>

<!--     <md-list-item>
      <md-button ng-click="ctrl.go_to('periods')">
        Программа работ
      </md-button>
    </md-list-item> -->
    
    <md-list-item>
      <md-button ng-click="ctrl.go_to('timetables')">
        Календарные графики
      </md-button>
    </md-list-item>    

  </md-list>
</md-sidenav>