<div class="modal-header">
  <h3 class="modal-title" ng-bind="ctrl.team.name"></h3>
  <div class="modal-body">
    <table class="table">
      <tr>
        <th>Профессия</th>
        <th>Количество рабочих</th>
        <th>  </th>
      </tr>
      <tr ng-repeat="profession in ctrl.data">
        <td><span ng-bind="ctrl.showName(profession.profession_id)" editable-select="profession.profession_id" e-ng-options="p.id as p.name for p in ctrl.professions" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(profession)"></span></td>
        <td><span ng-bind="profession.count" e-min="0" editable-number="profession.count" onbeforesave="ctrl.check_data($data)" onaftersave="ctrl.save(profession)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(profession)"></span></td>
      </tr>
    </table>
    <div style="margin-top: 75px"></div>
    <div class="float-btn">
      <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить профессию" ng-click="ctrl.add()">
        <md-icon>add</md-icon>
        <div class="md-ripple-container"></div>
      </md-button>
    </div>

  </div>
</div>