<div ng-controller="ProfessionsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Справочник профессий</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Наименование профессии</th>
      </tr>
    </thead>
    <tbody ng-repeat="profession in ctrl.data">
      <tr>
        <td><span ng-bind="profession.name" editable-text="profession.name" class="pointer" onaftersave="ctrl.save(profession)"></span></td>
        <td><span class="glyphicon glyphicon-remove pointer" ng-click="ctrl.destroy(profession)"></span></td>
      </tr>
    </tbody>
  </table>

  <div class="float-btn">
    <md-button class="md-fab md-primary" ng-transclude aria-label="Добавить работу" ng-click="ctrl.showWindow()">
      <md-icon>add</md-icon>
      <div class="md-ripple-container"></div>
    </md-button>
  </div>
</div>
