<div ng-controller="ShowProfessionsheetsCtrl as ctrl">
  <div class="page-header">
    <h1 class="center-text">Ведомость потребности в трудовых ресурсах</h1>
  </div>
  
  <table class="table-bordered table">
    <thead>
      <tr>
        <th>Наименование профессии</th>
        <th>Количество</th>
        <th>Дни потребности</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="profession in ctrl.cal_professions">
        <th ng-bind="profession.name"></th>
        <th>
          <ul ng-repeat="count in profession.counts track by $index">
            <li ng-bind="count"></li>
          </ul>
        </th>
        <th>
          <ul ng-repeat="date in profession.dates | orderBy: 'start_date'">
            <li>{{ date.start_date }} - {{ date.end_date }}</li>
          </ul>
        </th>
      </tr>
    </tbody>
    
  </table>
  
</div>
