/*
 *= require bootstrap/dist/css/bootstrap
 *= require angular-xeditable/dist/css/xeditable
 *= require bootstrap-sweetalert/lib/sweet-alert
 *= require angular-material
 *= require_tree .
 *= require_self
 */

.pointer {
  cursor: pointer;
}

.add-form {
  margin-top: 30px;
}

.float-btn {
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 55px;
  right: 55px;
}

.center-text {
  text-align: center;
}