<div class="modal-header">
  <h3 class="modal-title">Добавление работы</h3>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Наименование работы" ng-model="ctrl.data.name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ед. изм." ng-model="ctrl.data.metric">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ссылка на ЕНиР" ng-model="ctrl.data.enir">
      </div>
      <div class="form-group">
        <input type="number" min="0" class="form-control" placeholder="Человеко-дни" ng-model="ctrl.data.man_days">
      </div>
      <div class="form-group">
        <input type="number" min="0" class="form-control" placeholder="Машино-часы" ng-model="ctrl.data.labor_expenses">
      </div>
      <button class="md-raised md-button md-ink-ripple" ng-click="ctrl.cancel()">Отмена</button>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.add()">Добавить</button>
    </form>  
  </div>
</div>