<div class="modal-header">
  <h3 class="modal-title">Добавление документа</h3>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Наименование документа" ng-model="ctrl.data.name">
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="ctrl.data.building_id" ng-options="b.id as b.name for b in ctrl.buildings"></select>
      </div>
      <button class="md-raised md-button md-ink-ripple" ng-click="ctrl.cancel()">Отмена</button>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.add()">Добавить</button>
    </form>  
  </div>
</div>