<div class="modal-header">
  <h3 class="modal-title">Добавление периода</h3>
  <div class="modal-body">
    <form class="add-form">
      <div class="form-group">
        <select class="form-control" ng-model="ctrl.period.building_id" ng-options="b.id as b.name for b in ctrl.buildings"></select>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Дата начала" ng-model="ctrl.period.start_date">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Дата окончания" ng-model="ctrl.period.end_date">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Ожидаемый объем выполнения" ng-model="ctrl.period.wait_total">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ед. изм." ng-model="ctrl.period.metric">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Мощность" ng-model="ctrl.period.power">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Стоимсть мощности" ng-model="ctrl.period.power_cost">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Дата ввода в эксплуатацию" ng-model="ctrl.period.input_date">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Общий объем" ng-model="ctrl.period.own_total">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Субподрядный объем" ng-model="ctrl.period.sub_total">
      </div>
      <button class="md-raised md-button md-ink-ripple" ng-click="ctrl.cancel()">Отмена</button>
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="ctrl.addPeriod()">Добавить</button>
    </form>  
  </div>
</div>