<!DOCTYPE html>
<html>
<head>
  <title>Skyscraper</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="skyscraper">
  <div ng-controller="NavCtrl as ctrl">
    <md-toolbar layout="row">
      <md-button ng-click="ctrl.openLeftMenu()">
        <md-icon md-svg-icon="icons/menu.svg"></md-icon>
      </md-button>
      <span style="margin: auto;">
        <h1>АСУ ООО "Небоскреб ГБ"</h1>
      </span>
    </md-toolbar>
    <div flex layout="row">
      <div ng-include="'nav/_nav.html'"></div>
      <md-content flex id="content">
        <div class="col-lg-10 col-lg-offset-1">
          <ui-view></ui-view>
        </div>
      </md-content>
    </div>
  </div>
</body>
</html>
